body{
	
color:white;
background-image:url("blurred.jpg");

    
	
}
.Container {
   height: auto; /*if more info comes on the page, it will stretch down*/
width: 500px;
margin: 0 auto; /*this will cause the div to be in the center*/

}
h1.naslov{ 
    color:white;
    text-align: center;
    line-height: 2;
    font-family: 'Raleway', sans-serif;
    margin-top: 350px;
    background: black;
    background-color: rgba(0, 0, 0, 0.6);
    width: 60%;
    margin-left: 500px;
    font-size: 70px;
    outline-style: solid;
    outline-color:white;
    
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
}

p.pocetna {
    color:black;
    line-height:100px;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    text-align:center;}
ul.topnav {
    list-style-type: none;
    margin-top: -958px;
    margin-bottom: 100px;
    margin-right: -457px;
    margin-left: -457px;
    background-color: rgba(0, 0, 0, 0.6);
    outline:solid;
    outline-color: white;
    


  padding: 0;
  overflow: hidden;
  
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  
    
}

ul.topnav li a:hover {background-color:rgba(0, 0, 0, 0.1);}

ul.topnav li.icon {display: none;}

@media screen and (min-width:420px) {
  ul.topnav li:not(:first-child) {display: none;} {position: top;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (min-width:800px) {
  ul.topnav.responsive {position: center;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: center;
  }
}

